# Add any directories, files, or patterns you don't want to be tracked by version control

bitrix/activities/
bitrix/admin/
bitrix/backup/
bitrix/cache/
bitrix/stack_cache/
bitrix/css/
bitrix/fonts/
bitrix/gadgets/
bitrix/image_uploader/
bitrix/images/
bitrix/managed_cache/
bitrix/php_interface/dbconn.php
bitrix/themes/
bitrix/tools/
bitrix/tmp/
bitrix/wizards/
bitrix/catalog_export/
bitrix/js/ipol.sdek/



/upload
/image-imports

*.zip
*.sql
*.geojson
*.txt
*.log

.htaccess
adminer.php
restore.php
bitrixsetup.php
robots.txt
.idea/
*.csv
*.xml