
.icon-detali-trub:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-fiting:before { content: '\e802'; } /* '' */
.icon-kip:before { content: '\e803'; } /* '' */
.icon-klapany:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-new-goods:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-radiatory:before { content: '\e809'; } /* '' */
.icon-santehnika:before { content: '\e80a'; } /* '' */
.icon-teploizolyacia:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-vodootvedenie:before { content: '\e80d'; } /* '' */
.icon-zawita-trub:before { content: '\e80e'; } /* '' */
.icon-armatura:before { content: '\e80f'; } /* '' */
.icon-cart:before { content: '\e810'; } /* '' */
.icon-collectors:before { content: '\e811'; } /* '' */
.icon-bolt:before { content: '\e812'; } /* '' */
.icon-brand:before { content: '\e813'; } /* '' */
.icon-sale:before { content: '\e814'; } /* '' */
.icon-gift:before { content: '\e815'; } /* '' */