.product-card .top-info-panel img {
max-width:100%;
max-height:auto;
}

@media(max-width:767px) {
.large-wrap-count {
float:left;
width:100%;
display:block;
position:relative;
}

.product-card .large-wrap-count button:last-child {
right:0;
}

}
@media(max-width:400px) {
	.row.plits-catalog.izb .col-sm-3.col-xs-6{
		width:100%;
	}
}